* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
}


  
.h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12rem;
    font-size: 150px;
    background: none;
    color: #fff;
    border: none;
}

.h1 img {
    background: none;
    width: 8rem;
}
  
  
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    color: #fff;
    font-size: 40px;
    background: none;
}
  
  
p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-left: 15rem;
    margin-right: 15rem;
    font-size: 20px;
    text-align: center;
    color: #fff;
}
  
button{
    margin-left: 50rem;
    margin-inline: auto;
    display: flex;
    border-radius: 4rem;
    align-items: center;
    margin-top: 3rem;
    width: 15rem;
    height: 3rem;
    font-size: 30px;
    text-decoration: none;
    background: #1B147A;
    border: 3px solid black;
    
}
  
a{
    color: #fff;
    text-decoration: none;
    background: #1B147A;
    width: 30rem;
    border-radius: 4rem;
}