*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(quizfundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.inicio{
    background: none;
    border: none;
    margin-top: 1rem;
    margin-left: 1rem;
}

img{
    width: 5rem;
    height: 5rem;  
}

h1{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 150px;
    color: #fff;
    margin-top: 0rem;
}

.comecar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-inline: auto;
    font-size: 30px;
    background: white;
    width: 17rem;
    height: 4rem;
    border-radius: 7rem;
    border: 3px solid black;
}

a{
    text-decoration: none;
    color: black;
}