*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
:root{
    --roxo1: #61099b;
    --roxo2: #701ba8;
    --roxo3: #921ae1;
    --roxo4: #820ad1;
}

body { 
    background-color: black;
    background-image: linear-gradient( to right, blueviolet, purple,  blueviolet); 
}
.bhome img{
    display: flex;
    width: 4rem;
    height: 4rem;
    border: none;
    outline: none;
    background-color: none;
    background: none;
    background-image: none;
}

.bhome button{
    background-color: none;
    background: none;
    background-image: none;
    outline: none;
    border: none;
}

.top_3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25rem;
    font-size: 25px;
    margin-left: -4rem;
}

.top_3 div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 200px;
    margin-bottom: -3rem;
    border-radius: 1rem;
}

.top_3 .p1°lugar{
    height: 300px;
}

.top_3 .s2°lugar{
    height: 250px;
}
.top_3 .t3°lugar{
    height: 230px;
}

.users{
    background-color: var(--roxo4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    border: white 1px solid;
    width: fit-content;
    flex-direction: column;
    font-size: 25px;
    width: 45rem;
    height: 15rem;
    position: absolute;
	z-index: 1;
}

p{
    border: 1px solid white;
    width: 40rem;
    height: 3rem;
    margin-top: 1rem;
    border-radius: 3rem;
    font-size: 25px;
    text-align: center;
}

.s2°lugar{
    background-color: var(--roxo2);
}

.p1°lugar {
    background-color: var(--roxo1);

}

.t3°lugar{
    background-color: var(--roxo3);
}