@import "../../css/global.css";

root{
    --roxo1: #61099b;
    --roxo2: #701ba8;
    --roxo3: #921ae1;
    --roxo4: #820ad1;
}

body { 
    background-color: black;
    background: url(../../images/galaxiuia.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bhome img{
    display: flex;
    width: 4rem;
    height: 4rem;
    border: none;
    outline: none;
    background-color: none;
    background: none;
    background-image: none;
}

.bhome button{
    background-color: none;
    background: none;
    background-image: none;
    outline: none;
    border: none;
}

header {
    height: 12.2rem;
    display: flex;
    margin-top: -1.5rem;
    align-items: center;
    justify-content: center;
    padding-inline: 7.2rem;
}

header h1 {
    font-size: 4.8rem;
    color: white;
}

main {
    background: rgba(255, 255, 255, 0.5);
    max-width: 40rem;
    margin-inline: auto;
    margin-top: 0rem;
    padding: 3rem;
    border-radius: .5rem;
}


form .input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
}

.input-box input {
    margin-top: .8rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
}

.input-box input:focus {
    outline: 2px solid darkblue;
}

form button {
    padding: 1rem 2rem;
    width: 100%;
    margin-top: 1.6rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: white; 
    background: black;
    margin-bottom: 1.6rem;
}

form button:hover {
    cursor: pointer;
    transition: .4s;
}

main p {
    text-align: center;
}

a{
    text-decoration: none;
}