*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../fundo-ste.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.inicio{
    margin-inline: auto;
    background: none;
    border: none;
    margin-top: 1rem;
    margin-left: 1rem;
}

img{
    width: 5rem;
    height: 5rem;
}

.pergunta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    color: white;
    font-size: 5rem;

}

.numero{
    display: flex;
    margin-inline: auto;
    margin-bottom: 8rem;
}

.perguntas{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-inline: auto;
    color: white;
    font-size: 5rem;
    margin-top: 4rem;
    width: 80rem;
}

.alternativas {

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 8rem;
  margin-left: 20rem;
}

a{
    text-decoration: none;
    color: black;
}

button{
    margin-bottom: 5rem;
}
.alternativas button {
  width: 30rem ;
  height: 3rem;
  background-color: white;
  border: none;
  outline: none;
  font-size: 3rem;
  border-radius: 1rem;
}

.a1 {
  grid-column: 1;
}

.a2 {
  grid-column: 2;
}

.a3 {
  grid-column: 1;
}

.a4 {
  grid-column: 2;
}